body,
.top,
.title,
.body-site,
.body-image-subtext,
.call-to-action-text{
    display: flex;
    flex-direction: column;
}

.header,
.title-container,
.body-image,
.call-to-action,
.links{
    display: flex;
}

.body-title{
    text-align: center;
}

.images-p{
    width: 180px;
    text-align: center;
}

.body-image{
    margin-left: auto;
    margin-right: auto;
    gap: 20px;
}

.body-image img{
    height: 200px;
    border-radius: 10px;
    border: solid blue 2px;
    width: 200px;
}

.links{
    gap:15px;
    margin-top: 20px;
}

body{
    margin: 0px;
}

.top,
.footer{
    background-color: #1f2937;
}

.title-image{
    text-align: center;
    color: #F9FAF8;
    width: 500px;
    height: 200px;
    background-color: gray;
}

.title-image p{
    margin: 90px 0 0 0;
}

.links a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.title-container{
    padding-bottom: 100px;
    width: 470px;
}

.header{
    gap: 450px;
}

.title{
    gap: 100px;
    align-items: center;
}

.top{
    align-items: center;
}

.first-header{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.first-header-subtext{
    font-size: 18px;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.signup-button{
    background-color: #3882F6;
    border-color: #3882F6;
    border-radius: 10px;
    color: #f9faf8;
    padding: 0;
    width: 100px;
    height: 30px;
}

.body-title{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.comments{
    background-color: #E5E7EB;
    justify-content: center;
}

.quote{
    margin-top: 200px;
    margin-bottom: auto;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    color: #1f2937;
}

.quoter{
    flex-basis: 200px;
}

.call-to-action{
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
}

.comments{
    text-align: center;
}

.quoter{
    padding-left: 0;
}

.call-to-action-text-p{
    font-weight: 900;
    font-size: 18px;
    margin: 40px 0 0 0;
}

.call-to-action-text-subtext{
    margin: 0 0 40px 0;
}

.call-to-action{
    margin: 80px 150px 80px 150px;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    height: 140px;
    width: 1000px;
}

.signup-button-footer{
    align-self: center;
    padding: 5px 25px 5px 25px;
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 10px;
    border-color: #f9faf8;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.footer p{
    color: #F9FAF8;
    font-size: 10px;
}